[Unit]
Description=Atemschutz-Scan-System
Wants=network-online.target
After=network-online.target

[Service]
User=__RUN_USER__
WorkingDirectory=/opt/atemschutz-scan-system
ExecStart=/usr/bin/python3 /opt/atemschutz-scan-system/app.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
